<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arty.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ArtyData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2E0E5B627B2EDC800D9ABB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E0E5CC27B2EDC900D9ABB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E0E5D627B2EDC900D9ABB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E0E5F327B3143C00D9ABB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E0E5FC27B3143C00D9ABB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
